* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #005583;
}

body::-webkit-scrollbar-thumb {
  background: #00b8e7;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:active {
  background: #0087a8;
}

.Page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/862/653/non_2x/water-splash-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.heading {
  color: #005583;
  text-align: center;
}

.Des-Todo-Goals-Div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.descriptionDiv {
  display: flex;
  height: 600px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border: 2px solid #005583;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 30%);
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 70%);
  cursor: pointer;
  scale: 0.95;
  transition: 0.6s;
}

.descriptionDiv:hover {
  background-color: rgba(255, 255, 255, 50%);
  scale: 1;
}

.card {
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #005583;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 30%);
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 70%);
  cursor: pointer;
  scale: 0.9;
  transition: 0.4s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 50%);
  scale: 1;
}

.card ul {
  list-style: decimal;
  padding: 20px;
  text-align: left;
}

.card button {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 15px;
  color: red;
  padding: 5px 10px;
  font-size: normal;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: red;
  color: white;
}

.para-of-week-description {
  margin: 10px auto;
}

.goals-achievments-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 100px;
  gap: 20px;
  padding: 20px;
}

.week-of-div {
  color: #005583;
  font-weight: bold;
}

#num-of-week-input {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  border-bottom: 2px dashed #005583;
  font-weight: bold;
  text-align: center;
}

.days-div {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.modal-body {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 85, 131, 50%);
  padding: 15px;
  overflow: hidden;
}

.modal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  min-height: 80vh;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 50%) !important;
  border: 1px solid #005583;
  border-radius: 15px;
  padding: 10px 20px;
  z-index: 2;
}

.addinput {
  outline: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #005583;
  font-weight: bold;
}

.none {
  display: none;
}

.overflowHidden {
  overflow: hidden !important;
}

.input-div {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.addinput {
  flex: 1;
}

.add-icon-span {
  border-radius: 50%;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  border: 2px solid #005583;
  color: #005583;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: .5s;
}

.add-icon-span:hover {
  background-color: #005583;
  color: white;
}

